{% extends 'base.html' %}

{% load static %}

{% block content %}
{% block title %}
<title>404 ! Not Found</title>
{% endblock title %}

    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>404 Error!</h1><br>
                    <h2>Pardon Me, Howdy!</h2>
                    <p>
                        May be you have lost your slipper!
                        We're being unable to render your request at this time. 
                        <br>You are accessing the page that is either broken or unavailable at the moment. Please go back to the previous page or navigate through the available link on this page.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class ="container about-hero" src="{% static 'img/404_error.svg' %}" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Brands -->
    
    <!--End Brands-->
{% endblock content %}