{% extends 'base.html' %}

{% block content %}
{% block title %}
<title>Contact Us</title>
{% endblock title %}
{% load static %}
{% if name %}
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h3>Thanks {{name}}, for contacting us !</h3>
        </br>
        <p> <strong>
                We'll be back soon and respond you shortly.
            </strong></p>
    </div>
</div>

{% else %}
<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Contact Us</h1>
        <p> <strong>
                Hello, there! Are you either a beautiful girl or a handsome guy? Don't be shy to respond ! Please, fill
                the form below, so that we could reach you !
            </strong></p>
    </div>
</div>



<!-- Start Contact -->

<div class="container py-5">
    <div class="row py-5">
        <form action="{% url 'contact' %}" class="col-md-9 m-auto" method="post">
            {% csrf_token %}
        <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">Email</label>
                    <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <label for="inputsubject">Subject</label>
                    <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Subject"
                        required>
                </div>
                <div class="mb-3">
                    <label for="inputmessage">Message</label>
                    <textarea class="form-control mt-1" id="message" name="message" placeholder="Message" rows="8"
                        required></textarea>
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">
                            Let’s Talk
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endif %}
<!-- End Contact -->
{%endblock%}