{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Our Products -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Products</h1>
                <p>
                    Get to know about the products that are available in <strong class='text-success'>Odan Decor</strong>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="/explore/{{product.0.slug}}/"><img src="/media/{{product.0.image}}" class="rounded img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{product.0.product_name}}</h5>
                <p class="text-center"><a href ="/explore/{{product.0.slug}}/"class="btn btn-success">Know More</a></p>
            </div>
            
            {% for i in product|slice:"1:3" %}
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="/explore/{{i.slug}}/"><img src="/media/{{i.image}}" class="rounded img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{i.product_name}}</h5>
                <p class="text-center"><a href ="/explore/{{i.slug}}/"class="btn btn-success">Know More</a></p>
            </div>
            {%endfor%}

            {% for i in product|slice:"3:4" %}
            <div class="col-12 col-md-4 p-5 mt-3 m-auto">
                <a href="/explore/{{i.slug}}/"><img src="/media/{{i.image}}" class="rounded img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{i.product_name}}</h5>
                <p class="text-center"><a href ="/explore/{{i.slug}}/"class="btn btn-success">Know More</a></p>
            </div>
            {%endfor%}
        </div>
    </section>
    <!-- End of Our Products -->



   {% endblock %}
