
{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="about d-flex align-items-center py-9" id="about">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-7" data-aos="fade-right">
                <h1 class="text-dark my-4">Frequently Asked Questions</h1>
                {% for i in faq %}
                <div class="pt-5 m-auto">
                    <h2>
                        {{i.Question}}
                    </h2>
                    <p>
                        {{i.Answer|safe}}
                    </p>
                </div>
                {% endfor %}
                </div>
            <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down">
                <img class="img-fluid" src="{% static 'img/faq.png' %}" alt="about">
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of about -->



   {% endblock %}