
<section class="container my-4">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    What is Odan Decor?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <strong>Odan Decor is a new way to decorate yourself and your home.</strong> It is a parent company
                    of Korean Shop, Bharatpur, Chitwan from which you can purchase varieties of jewelleries, Kolhapuri
                    branded slippers. We do also provide Wallpaper &amp; Water Fountain Services for your home,
                    restaurant, etc.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Where is it located?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>We're located at 1<sup>st</sup> Floor of CG Landmark, Bharatpur, Chitwan. </strong> As Odan
                    Decor is a parent company of Korean Shop, you can also visit us at Hongkong Bazar, Bharatpur.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    How can I purchase purchase products from Odan Decor?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <strong>Just give us a message on our Facebook page or email us through the contact form by
                        elaborating everything</strong>. And you will be able to see your products in your own place
                    within 24 hrs. Alternatively, you can also make a purchase by visiting our outlet places.
                </div>
            </div>
        </div>
    </div>
</section>

