{% extends 'base.html' %}
{% load static %}

{% block content %}


{% block title %}
<title>Odan Decor</title>
{% endblock title %}


    <!-- Start Banner Hero -->
    <div id="ragashero" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner container">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/media/{{product.0.image}}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h2 class="h2-front">{{product.0.product_name}}</h2></br>
                                <h3 class="h3-front text-success">{{product.0.product_category}}</h3>
                                <p>
                                    {{product.0.sub_category}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for i in product|slice:"1:4" %}
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="media/{{i.image}}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h2 class="h2-front">{{i.product_name}}</h2></br>
                                <h3 class="h3-front text-success">{{i.product_category}}</h3>
                                <p>
                                    {{i.sub_category}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Carousel Ends Here -->
        <div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#ragashero" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#ragashero" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
        </div>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Our Products -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Products</h1>
                <p>
                    Get to know about the products that are available in <strong class='text-success'>Odan Decor</strong>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="/explore/{{product.0.slug}}/"><img src="media/{{product.0.image}}" class="rounded img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{product.0.product_name}}</h5>
                <p class="text-center"><a href ="/explore/{{product.0.slug}}/"class="btn btn-success">Know More</a></p>
            </div>
            
            {% for i in product|slice:"1:3" %}
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="/explore/{{i.slug}}/"><img src="media/{{i.image}}" class="rounded img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{i.product_name}}</h5>
                <p class="text-center"><a href ="/explore/{{i.slug}}/"class="btn btn-success">Know More</a></p>
            </div>
            {%endfor%}

            {% for i in product|slice:"3:4" %}
            <div class="col-12 col-md-4 p-5 mt-3 m-auto">
                <a href="/explore/{{i.slug}}/"><img src="media/{{i.image}}" class="rounded img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{i.product_name}}</h5>
                <p class="text-center"><a href ="/explore/{{i.slug}}/"class="btn btn-success">Know More</a></p>
            </div>
            {%endfor%}
        </div>
    </section>
    <!-- End of Our Products -->


    <!-- Start Featured Categories -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Categories</h1>
                    <p>
                        Here are the recommended categories of <strong class='text-success'>Odan Decor</strong> that had won the heart of many customers. 
                    </p>
                </div>
            </div>
            <div class="row">
                {% for i in cat|slice:"0:3" %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="media/{{i.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                
                                <li class="text-muted">Price Range From <strong>Rs.{{i.starting_price}}</strong></li>
                            </ul>
                            <h5 class="h5 text-decoration-none text-dark">{{i.category_name}}</h5>
                            
                            
                            <p class="card-text">
                                {{i.category_description}}
                            </p>
                        </div>
                        
                    </div>
                </div>  
                {% endfor %}
             
                
            </div>
        </div>
    </section>
    <!-- End Featured Categories -->



 <!-- Start FAQs Section -->
<div class="py-4">
    <div class="m-auto container">
        <h2>
            Frequently Asked Questions
        </h2>
    </div>
    {% include 'indexfaq.html' %}
</div>
<!-- End FAQs Section -->



{% endblock %}