{% extends 'base.html' %}

{% load static %}

{% block content %}
{% block title %}
<title>{{products.product_name}}</title>
{% endblock title %}

    <!-- Open Content -->
        <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="/media/{{products.image}}" alt="Card image cap" id="product-detail">
                    </div>
                {% if products.multi_img_set.all %}
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">
                                
                                <!--First slide-->
                                
                                <div class="carousel-item active col-4">
                                    <div class="container col-6">
                                        <div class="col-12">
                                            {% for image in products.multi_img_set.all|slice:"0:1" %}
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/media/{{image.supporting_image}}" alt="Product Image 1">
                                            </a>
                                            {% endfor %}
                                        </div>
                                       
                                    </div>
                                </div>  
                                <!--/.First slide-->

                                <!--Second slide-->
                                {% for image in products.multi_img_set.all|slice:"1:"%}
                                <div class="carousel-item col-4">
                                    <div class="container col-6">
                                        <div class="col-12">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/media/{{image.supporting_image}}" alt="Product Image 4">
                                                
                                            </a>
                                        </div>
                                    </div>
                                </div>        
                                {% endfor %}
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                {% endif %}
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{products.product_name}}</h1>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Brand:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{products.brand}}</strong></p>
                                </li>
                            </ul>

                            <h6>Description:</h6>
                            <p>{{products.description}}</p>

                            <h6>Specification:</h6>
                            <ul class="list-unstyled pb-3">
                            {% for key in products.keypoints_set.all %}
                                <li>
                                {{key.key_point}}
                                </li>
                            {% endfor %}
                            </ul>

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

    {% endblock content %}