{% extends 'base.html' %}
{% load static %}

{% block content %}
{% block title %}
<title>{{explore.product_name}}</title>
{% endblock title %}
<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">{{explore.product_name}}</h1>
        </div>

        <!-- Image Text Starts Here -->

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <h2>All Products</h2>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            {% for image in explore.explore_img_set.all|slice:"0:1" %}
                            <img class="card-img rounded-0 img-fluid" src="/media/{{image.supporting_image}}">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="/{{explore.slug}}/"><i
                                                class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% for image in explore.explore_img_set.all|slice:"1:" %}
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">

                            <img class="card-img rounded-0 img-fluid" src="/media/{{image.supporting_image}}">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="/{{explore.slug}}/"><i
                                                class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% comment %} <div div="row">
            <ul class="pagination pagination-lg justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                        tabindex="-1">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                </li>
            </ul>
        </div> {% endcomment %}
    </div>

</div>
</div>
<!-- End Content -->


{% endblock %}