<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{product.product_name}}
    <!-- <img class="card-img img-fluid" src="media/{{product.image}}" alt="Card image cap" id="product-detail"> -->
    <img src="../media/{{product.image}}/" alt="">
    <!-- {{product.image}} -->
</body>
</html>