{% comment %} Hey {{name}} ! Good day.

Thanks for contactiing us. We have just received your contact form and gonna respond you shortly.

In the meantime. Please check out our Facebook and Instagram Page.
 {% endcomment %}



<body>
    <a href="#">This is a link</a>
    <p>

        This is a body message.
        
    </p>
</body>
